html {
    font-family: Georgia, 'Times New Roman', Times, serif
}

body {
    margin: 0;
    padding: 0;
}

#nav {
    position: absolute;
    width: 100%;
    height: 40px;
    background-color: darkslategray;
    border: 1px solid green;
}

#title {
    margin-top: 40px;
}

#map {
    position: absolute;
    width: 75%;
    height: 100%;
    border: 1px solid black;
    margin-left: 25%;
}

#info-area {
    position: absolute;
    background-color: rgba(46, 45, 45, 0.8);
    width: 24.9%;
    height: 100%;
    border: 1px darkgrey;
    
}


#data-area {
    position: absolute;
    background-color: white;
    display: flex;
    /* border: 1px solid red; */
    height: 20%;
    width: 75%;
    border: 1px solid black;
    margin-left: 25%;
    margin-top: 40px;
}

#total-positive-chart{
    position: absolute;
    border: 1px solid darkgrey;
    background-color: rgba(46, 45, 45, 0.8);
    margin-left: 0%;
    text-align: center;
}

#total-fatality-chart {
    position: absolute;
    border: 1px solid darkgrey;
    background-color: rgba(46, 45, 45, 0.8);
    margin-left: 20%;
    text-align: center;
}

#total-hospitalization-chart {
    position: absolute;
    border: 1px solid darkgrey;
    background-color: rgba(46, 45, 45, 0.8);
    margin-left: 40%;
    text-align: center;
}

/* #vaccination-stacked-chart {
    position: absolute;
    border: 1px solid orange;
    background-color: beige;
    margin-left: 75%;
    text-align: center;
} */

#vaccination-line-chart {
    position: absolute;
    background-color: rgba(46, 45, 45, 0.8);
    border: 1px solid darkgrey;
    margin-left: 60%;
}

#patient-age-pie-chart {
    position: absolute;
    background-color: rgba(46, 45, 45, 0.8);
    border: 1px solid darkgrey;
    margin-left: 80%;
}

#data-info{
    position: absolute;
    height: 25%;
    width: 100%;
    border: darkslategray;
}

#controller{
    position: absolute;
    left: 0;
    bottom: 0;
    height: min-content;
    width: 75%;
    border: 1px black;
    background-color: darkslategrey;
    margin-left: 25%;
    text-align: center;
}

#slider {
    cursor: pointer;
    position: relative;
    width: 600px;
}

#title {
    position: relative;
    margin-left: 50px;
    
}