body {
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    margin-left: 25%;
}

#info-area {
    position: absolute;
    width: 24.9%;
    height: 100%;
    border: 1px solid red;
}

#title {
    position: relative;
    margin-left: 50px;
    
}

#controller {
    position: relative;
    margin-left: 100px;
    /*border: 1px solid red;*/
    width: 100%;
}