html {
    font-family: Comfortaa;
}

body {
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    border: 2px solid #242424;
    width: 60%;
    height: 98%;
    margin-left: 20%;
}

#left-data-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-flow: wrap;
    align-items: stretch;
    position: absolute;
    background-color: #f0f4ff;
    width: 20%;
    height: 96%;
}

#right-data-area {
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    position: absolute;
    background-color: #f0f4ff;
    width: 20%;
    height: 96%;
    margin-left: 80.5%;
    justify-content: center;
}

#positive-chart-container {
    flex-shrink: 1;
    height: min-content;
    height: 50%;
}

#fatality-chart-container {
    flex-shrink: 1;
    height: 50%;
}

#hospitalization-chart-container, #pie-chart-container{
    margin-bottom: 92%;
}

#hospitalization-chart-container {
    flex-shrink: 1;
    margin-top: 40px;
    height: min-content;
    width: 100%;
}

#vaccinated-chart-container {
    flex-shrink: 1;
    width: 100%;
    height: 30%;
    float: left;
    margin-top: -25%;

}

#pie-chart-container {
    flex-shrink: 1;
    width: 100%;
    height: 10%;
}


#total-fatal-cases, #total-hospitalization-cases, #total-positive-cases, #vaccination-record {
    font-size: 8px;
}


/* for text on chart */
#total-positive-case-text-area, #total-fatality-text-area, 
#total-hospitalization-text-area, #total-vaccinated-text-area{
    font-weight: bold;
    position: absolute;
    padding-left: 4px;
    height: min-content;
}

#date {
    color: black;
    font-size: 12px;
}

#total-fatality-text-area {
    margin-top: -80px;
}


#total-positive-case-text-area {
    position: absolute;
    margin-top: -100px;
}

#total-positive-chart{
    background-color: #f0f4ff;
    margin-left: 0%;
    text-align: center;
    margin-top: 40px;
}

#total-fatality-chart {
    background-color: #f0f4ff;
    margin-left: 0%;
    text-align: center;
    padding-bottom: 22px;
}

#total-hospitalization-chart {
    position: absolute;
    background-color: #f0f4ff;
    text-align: center;
}

#vaccination-line-chart {
    position: absolute;
    background-color: #f0f4ff;
}

#patient-age-pie-chart {
    position: absolute;
    background-color: #f0f4ff;
}

#controller{
    position: absolute;
    left: 0;
    bottom: 0;
    height: min-content;
    width: 100%;
    background-color: #3c443e;
    text-align: center;
}

#slider {
    position: relative;
    width: 600px;
}

#title {
    position: relative;
    margin-left: 50px;
}

#date-display {
    position: absolute;
    margin-top: 40px;
    width: 100%;
    text-align: center;
    height: min-content;
}

#date {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

#pop-up-title {
    text-align: center;
    text-transform: uppercase;
    color: #9e4343;
}

#pop-up-data {
    text-align: justify;
}

.pop-up-text{
    font-family: Comfortaa;
}
